{% extends 'layout.twig' %}

{% block body %}
    {% verbatim %}
    <div v-cloak id="app" class="container">
        <h3>Телефонная книга</h3>

        <form class="mb-3">
            <div class="form-row my-1 no-gutters">
                <div class="col-12 col-sm mt-1">
                    <input id="first_name" class="form-control" type="text" v-model="newFirstName"
                           :class="{red_placeholder : isInvalidFirstName, 'border-danger': isInvalidFirstName}"
                           :placeholder="isInvalidFirstName ? 'Введите имя' : 'Имя'">
                </div>

                <div class="col-12 col-sm mt-1">
                    <input id="last_name" class="form-control" type="text" placeholder="Фамилия" v-model="newLastName"
                           :class="{red_placeholder : isInvalidLastName, 'border-danger': isInvalidLastName}"
                           :placeholder="isInvalidLastName ? 'Введите фамилию' : 'Фамилия'">
                </div>

                <div class="col-12 col-sm mt-1">
                    <input id="phone_number" class="form-control" type="number" placeholder="Номер телефона" pattern=""
                           v-model="newPhoneNumber"
                           :class="{red_placeholder : isInvalidPhoneNumber, 'border-danger': isInvalidPhoneNumber || haveNumber,
                       errorMessage : haveNumber}"
                           :placeholder="isInvalidPhoneNumber ? 'Введите телефон' : 'Телефон'">
                </div>

                <div class="col-12 col-sm mt-1">
                <span class="input-group-btn">
                    <button id="add_button" class="btn btn-primary" type="button" @click="addContact">Добавить</button>
                </span>
                </div>
            </div>

            <span class="errorMessage" v-show="haveNumber">Такой номер телефона уже добавлен. Проверьте записи.</span>
        </form>

        <form class="form-inline mb-4">
            <label class="mr-1 mt-1">Поиск</label>
            <input class="form-control mr-1 mt-1" v-model="term">
            <button class="btn btn-primary mr-1 mt-1" type="button" @click="search">Поиск</button>
            <button class="btn btn-secondary mt-1" type="button" @click="cancelSearch">Отмена</button>
        </form>

        <div class=" min-width-860 table-responsive-sm">
            <table id="phoneBook_table" class="table table-striped table-hover">
                <thead class="table-primary">
                <tr>
                    <th class="align-middle">№</th>
                    <th class="align-middle">Имя</th>
                    <th class="align-middle">Фамилия</th>
                    <th class="align-middle text-nowrap">Номер телефона</th>
                    <th class="align-middle">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="root-checkbox" type="checkbox" class="form-check-input"
                                       @change="checkedAllContacts" v-model="checkAll">
                            </label>
                        </div>
                    </th>
                    <th class="align-middle text-nowrap">
                        <button type='button' title='удалить' class='btn btn-outline-danger'
                                @click="showDialogToCheckedDelete">
                            Удалить<br>выбранное
                        </button>

                    </th>
                </tr>
                </thead>
                <tbody id="phoneBook_table_body">
                <tr v-for="(contact, index) in contacts">
                    <td>{{ index + 1 }}</td>
                    <td>{{ contact.firstName }}</td>
                    <td>{{ contact.lastName }}</td>
                    <td>{{ contact.phoneNumber }}</td>
                    <td>
                        <div class='form-check'>
                            <label class='form-check-label align-middle'>
                                <input type='checkbox' class='form-check-input align-middle contact_checkbox'
                                       :value="contact.id" v-model="mustBeDeleted.iDs">
                            </label>
                        </div>
                    </td>
                    <td>
                        <button type='button' title='удалить' class='btn btn-outline-danger'
                                @click="showModal(contact)">
                            <img alt='del' src='/images/remove_icon.png' class='small_button_icon'>
                        </button>

                        <div v-show="contact.needShowModal">
                            <div class="modal-mask">
                                <div class="modal-wrapper">
                                    <div class="modal-container">

                                        <div class="modal-header">
                                            <slot name="header">
                                                Удаление элемента
                                            </slot>
                                        </div>

                                        <div class="modal-body">
                                            <slot name="body">
                                                Вы действительно хотите удалить элемент?
                                            </slot>
                                        </div>

                                        <div class="modal-footer">
                                            <slot name="footer">
                                                <button class="modal-default-button" @click="hideModal(contact)">
                                                    Отмена
                                                </button>
                                                <button class="modal-default-button" @click="deleteContact(contact)">
                                                    Да
                                                </button>
                                            </slot>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div v-show="mustBeDeleted.needShowModal">
                <div class="modal-mask">
                    <div class="modal-wrapper">
                        <div class="modal-container">

                            <div class="modal-header">
                                <slot name="header">
                                    Удаление выбранных элементов
                                </slot>
                            </div>

                            <div class="modal-body">
                                <slot name="body">
                                    Вы действительно хотите удалить выбранные элементы?
                                </slot>
                            </div>

                            <div class="modal-footer">
                                <slot name="footer">
                                    <button class="modal-default-button" @click="hideDialogToCheckedDelete">
                                        Отмена
                                    </button>
                                    <button class="modal-default-button" @click="deleteCheckedContacts">
                                        Да
                                    </button>
                                </slot>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
{% endblock %}
