<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Список дел</title>
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/todoListVueStyle.css"/>
</head>

<body>
<div v-cloak id="app" class="container mt-2">
    <h1 class="heading">Список дел:</h1>

    <div class="row no-gutters">
        <div class="col-12 order-sm-2 col-sm">
            <input :class="{invalid: isInvalid}" id="new_task" class="form-control" v-model="newTodoText" type="text"
                   @keydown.enter="addTodo" @keydown.esc="newTodoText = ''">
        </div>
        <div class="error-message col-12 order-sm-3" v-if="isInvalid">Необходимо ввести текст заметки</div>
        <div class="col-auto pt-1 order-sm-1 pt-sm-0">
            <button id="add_button" class="btn mr-1 btn-primary" type="button" @click="addTodo">Добавить</button>
        </div>
    </div>

    <div>
        <ul id="todo_list" class="list-group">
            <li class="list-group-item px-0  py-1 border-0 list-group-item-action" v-for="item in items">

                <div v-if="!item.isEditable" class="row no-gutters">
                    <div class="col-12 order-sm-2 col-sm pb-1 pb-sm-0">
                        <span class="form-control border-0" v-text="item.text"></span>
                    </div>

                    <div class="col-auto order-sm-1">
                        <button type="button" title="Удалить" class="btn mr-1 btn-outline-danger"
                                @click="item.needShowModal=true">
                            <img alt="del" src="icons/remove_icon.png" class="small_button_icon">
                        </button>
                        <button type="button" title="Редактировать" class="btn mr-1 btn-outline-warning"
                                @click="editTodo(item)">
                            <img alt="edit" src="icons/editing_icon.png" class="small_button_icon">
                        </button>
                    </div>
                </div>

                <div v-if="item.isEditable" class="row no-gutters">
                    <div class="col-12 order-sm-2 col-sm pb-1 pb-sm-0">
                        <input id="edit_task" class="form-control" v-model="item.editTodoText" type="text"
                               @keydown.enter="changeTodo(item)" @keydown.esc="item.isEditable = false">
                    </div>

                    <div class="col-auto order-sm-1">
                        <button type="button" title="Сохранить" class="btn mr-1 btn-outline-success"
                                @click="changeTodo(item)">
                            <img alt="ok" src="icons/ok_icon.png" class="small_button_icon">
                        </button>
                        <button type="button" title="Отмена" class="btn mr-1 btn-outline-danger"
                                @click="item.isEditable = false">
                            <img alt="cancel" src="icons/cancel_icon.png" class="small_button_icon">
                        </button>
                    </div>
                </div>

                <div v-if="item.needShowModal">
                    <div class="modal-mask">
                        <div class="modal-wrapper">
                            <div class="modal-container">

                                <div class="modal-header">
                                    <slot name="header">
                                        Удаление элемента
                                    </slot>
                                </div>

                                <div class="modal-body">
                                    <slot name="body">
                                        Вы действительно хотите удалить элемент?
                                    </slot>
                                </div>

                                <div class="modal-footer">
                                    <slot name="footer">
                                        <button class="modal-default-button" @click="hideModal(item)">
                                            Отмена
                                        </button>
                                        <button class="modal-default-button" @click="removeTodo(item)">
                                            Да
                                        </button>
                                    </slot>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>

<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="js/todoListScript.js"></script>
</body>
</html>