body {
    font: 22px "Humanst521 Lt BT";
}

.block1 {
    max-width: 750px;
}

.table1 {
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.table1 th {
    box-sizing: border-box;
    border: 1px solid #cccccc;
    background-color: #3498db;
    color: white;
    text-align: left;
    vertical-align: middle;
    padding: 9px 0 9px 8px;
    font-weight: bold;
}

.table1 td {
    box-sizing: border-box;
    border: 1px solid #cccccc;
    padding: 9px 10px 9px;
}

.table1 tr:nth-child(odd) {
    background-color: #eeeeee;
}

.column1 {
    width: 20.3%;
}

.column2 {
    width: 20.2%;
}

.column4 {
    width: 23.4%;
}