div {
    color: #676565;
    background-color: #feeed6;
    width: 560px;
    padding: 10px;
}

p{
font: 12px "arial";
}

.paragraph{
text-indent: 1em;
}

h1{
font: 20px "arial";
font-weight: normal;
}

.blueText{
font-weight: bold;
color: #378db2;
}

.line-throughText{
text-decoration: line-through;
}